<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시판 서비스</title>
</head>
<body>
    <nav>
        <a href="/posts/list">게시물 목록</a>
        <a href="/members/register">회원가입</a>
        <a href="/members/login">로그인</a>
    </nav>
    <!-- 컨텐츠 영역 -->
    <th:block layout:fragment="content"></th:block>
    <!-- 컨텐츠 영역 -->
</body>
</html>